.head-container {
  background-image: url("../assets/mobile/bg-pattern-header.svg");
  height: 136px;

& h2 a{
  display: flex;
  align-items: center;
  color: white;
  padding: 1em;
  text-decoration: none;
}

}


/* Media query for tabelt and desktop */

@media only screen and (min-width: 600px) {
  .head-container {
    background-image: url("../assets/mobile/bg-pattern-header.svg");
    height: 136px;
    border-bottom-left-radius: 80px 80px;
  
  }
}
