.job-detail-header {
  width: 327px;
  height: 205px;
  margin-top: -20px;
  margin: -20px auto;
  border-radius: 0.4rem;
  background-color: white;
  margin-bottom: 2em;
  & .logo-container {
    margin-left: 8.5em;
  }
}

.job-info{
  width: 200px;
}

.job-header-info {
  padding-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.company-button {
  background-color: #e2e3f2;
  color: #5964e0;
  padding: 0.8em;
  font-weight: bold;
  text-decoration: none;
}

.company-button:hover {
  background-color: #5964e0;
  color: white;
}

.all-job-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 327px;
  height: 100%;
  margin: 0em auto;
  padding-top: 2em;
  padding: 1em;
  & header {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin: 2em auto;

    & span {
      color: #5964e0;
      font-weight: bold;
      font-size: 14px;
    }

    & p {
      color: #6e8098;
    }
  }

  & a {
    text-decoration: none;
    justify-content: center;
    background-color: #5964e0;
    padding: 0.8em;
    width: 100%;
    text-align: center;
    color: white;
    font-weight: bold;
    border-radius: 0.4rem;
    margin-top: 3em;
  }
}

.job-content {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 1em;
  line-height: 2rem;
}



/* Desktop */
@media only screen and (min-width: 600px) {
  .job-detail-header {
    border-radius: 0;
    width: 670px;
    height: 140px;
    display: flex;
    flex-direction: row;
    & .logo-container {
      margin-left: 0em;
      position: relative;
      height: 100%;
      margin: 0;
      padding: 0;
      width: 25%;
      border-radius: 0;
    }
  }

  .job-header-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 2em;
    & a {
      flex-direction: row;
    }
  }

  .header-title{
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .all-job-info {
    height: 100%;
    width: 670px;
    margin-top: 5em;
    & header{
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      padding: 0em 2em;
    & a {
      width: 140px;
      height: 48px;
      margin: 0;
    }
    }

    .job-content{
      padding: 2em;
    }

  }


}
