.search-form-container {
  background-color: aqua;
  padding: 1em;
}

.data-container {
  display: grid;
  justify-content: center;
  margin-top: 1em;
  gap: 2em;
}


.logo-container {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  position: absolute;
  margin-top: -18px;
  margin-left: 2em;
}


.data-item {
  background-color: aqua;
  width: 327px;
  height: 228px;
  margin-top: 1em;
  display: grid;
  justify-content: center;
  margin-top: 1em;
  border-radius: 1rem;
}


.job-info{
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding-top: 3.5em;

  & h2{
    font-size: 20px;
  }

  & span {
    font-size: 16px;
    color: #6E8098;
  }
}

.location-title{
  font-size: 14px;
  color: #5964E0;
  font-weight: bold;
}


@media only screen and (min-width: 600px) {
  .data-container,
  .all-data-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 1024px) {
  .data-container,
  .all-data-container {
    grid-template-columns: repeat(3, 1fr);
  }
}